{% extends 'base.html.twig' %}

{% block title %}Connexion - Green Goodies{% endblock %}

{% block body %}
    <section class="login-page">
        <div class="login-container">
            <div class="login-illustration">
                {# Tu mettras ton image ici plus tard, par exemple : #}
                <img src="{{ asset('assets/login.webp') }}" alt="">
            </div>

            <div class="login-form-wrapper">
                <h1>Connexion</h1>
            {% if error %}
                <div class="form-error" role="alert">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

                <form class="login-form" action="{{ path('app_login') }}" method="post">
                    <div class="form-group">
                        <label for="email">Adresse e-mail</label>
                        <input type="email" id="email" name="email" value="{{ last_username }}">
                    </div>

                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" id="password" name="password">
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <button type="submit" class="login-submit">
                        Se connecter
                    </button>
                    <p><a href="{{ path('app_register') }}">Pas encore de compte ? S’inscrire</a></p>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
