{# Page de connexion utilisant le formulaire Symfony LoginFormType #}
{% extends 'base.html.twig' %}

{% block title %}
    Connexion - Green Goodies
{% endblock %}

{% block body %}
    <section class="login-page">
        <div class="login-container">
            <div class="login-illustration">
                <img src="{{ asset('assets/images/login.webp') }}" alt="">
            </div>

            <div class="login-form-wrapper">
                <h1>Connexion</h1>
                {# Affichage d'un éventuel message d'erreur de sécurité #}
                {% if error %}
                    <div class="form-error" role="alert">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                {{ form_start(loginForm, {action: path('app_login'),attr: {'class': 'login-form'}}
                ) }}
                <div class="form-group">
                    {{ form_label(loginForm.email) }}
                    {{ form_widget(loginForm.email) }}
                </div>

                <div class="form-group">
                    {{ form_label(loginForm.password) }}
                    {{ form_widget(loginForm.password) }}
                </div>

                {{ form_rest(loginForm) }}

                <button type="submit" class="login-submit">
                    Se connecter
                </button>
                <p><a href="{{ path('app_register') }}">Pas encore de compte ? S’inscrire</a></p>
                {{ form_end(loginForm) }}
            </div>
        </div>
    </section>
{% endblock %}
