{% extends 'base.html.twig' %}

{% block title %}Accueil - Green Goodies{% endblock %}

{% block body %}
    <section class="hero">
        <div class="hero-content">
            <div class="hero-text">
                <div class="hero-text-inner">
                    <h1>Bienvenue</h1>
                    <p>Découvrez notre univers de produits durables et éthiques pour une consommation responsable<br><br>
                    Retrouvez des articles d’hygiène & beauté, des accessoires & boissons et du prêt 
                    à porter</p>
                </div>
            </div>
            <img src="{{ asset('assets/hero.webp') }}" alt="">
        </div>
    </section>

    <section class="products-container" id="products">
        <h2>Nos produits</h2>
        <div class="products-grid">
            {% for product in products %}
                <div class="product-card">
                    <img src="{{ asset('assets/products/' ~ product.picture) }}" alt="{{ product.name }}">
                    <div class="card-text">
                        <h3>{{ product.name }}</h3>
                        <p class="description">{{ product.shortDescription }}</p>
                        <p class="price">
                            {{ product.price|number_format(2, ',', '') }}€
                        </p>
                    </div>
                    <a href="{{ path('product_show', { id: product.id }) }}" class="card-btn">Voir le produit</a>
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="ethos">
        <div class="conviction">
            <div class="conviction-text">
                <h3>Notre conviction</h3>
                <p>
                    Chez GreenGoodies, nous croyons en un monde où le commerce peut être synonyme de bien-être 
                    pour la planète et ses habitants. Notre mission est de vous proposer une sélection rigoureuse 
                    de produits qui allient qualité, durabilité et éthique
                </p>
            </div>
            <img src="{{ asset('assets/register.webp')}}" alt="">
        </div>
        <div class="values">
            <img src="{{ asset('assets/values.webp')}}" alt="">
            <div class="values-text">
                <h3>Nos valeurs</h3>
                <p>
                    Durabilité : Nous sélectionnons soigneusement des produits qui respectent l'environnement et favorisent la durabilité.
                    Éthique : Nous nous engageons à travailler avec des partenaires et des fournisseurs qui partagent nos valeurs éthiques.
                    Écologie : Nous encourageons des pratiques respectueuses de l'écosystème et privilégions les matériaux écologiques.
                </p>
            </div>
        </div>
    </section>
{% endblock %}
