        <header class="site-header">
            <div class="logo">
                <a href="{{ path('app_home') }}">
                    <img src="{{ asset('assets/logo.svg') }}" alt="Green Goodies Logo">
                </a>
            </div>

            <nav class="main-nav">
                <ul>
                    <li><a href="{{ path('app_home') }}#products">Nos produits</a></li>
                    <li><a href="#">Mon panier</a></li>
                    <li><a href="{{ path('app_register') }}">Inscription</a></li>
                    <li><a href="{{ path('app_login') }}">Connexion</a></li>
                </ul>
            </nav>
        </header>