{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} - Green Goodies{% endblock %}

{% block body %}
    <section class="product-detail">
        <div class="product-detail-content">
            <div class="product-image">
                <img src="{{ asset('assets/products/' ~ product.picture) }}" alt="{{ product.name }}">
            </div>
            <div class="product-detail-text">
                <h1 class="product-name">{{ product.name }}</h1>
                <p class="product-price">
                    {{ product.price|number_format(2, ',', '') }}€
                </p>
                <p class="description-label">Description</p>
                <p class="long-description">
                    {{ product.fullDescription|nl2br }}
                </p>
                {% if app.user %}
                    <a href="{{ path('app_cart_add', { id: product.id }) }}" class="product-btn">
                        Ajouter au panier
                    </a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="product-btn">
                        Connectez-vous pour ajouter au panier
                    </a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}